/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all {
  padding-top: 48px;
  padding-left: 28px;
  background-color: rgb(40, 37, 37);
  background-image: url(../images/back2.png);
  width: 1530px;
  height: 820px;
}
.all .hederis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}
.all .hederis .tbclogo {
  width: 150px;
}
.all .hederis nav {
  width: 650px;
}
.all .hederis nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.all .hederis nav ul a {
  color: #cfc8c8;
  font-family: "BPG Arial", sans-serif;
}
.all .s-1 h1 {
  width: 600px;
  font-size: 77px;
  font-family: "BPG Mrgvlovani", sans-serif;
  padding-top: 140px;
  padding-left: 100px;
  padding-bottom: 35px;
  color: #FFFFFF;
  text-indent: 20px;
}
.all input[type=button] {
  border-radius: 211px;
  background: rgb(217, 197, 197);
  width: 210px;
  height: 55px;
  color: black;
  font-size: 15px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  cursor: pointer;
}
.all .input {
  padding-bottom: 161px;
  padding-left: 105px;
}
.all .headerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1050px;
  height: 176px;
  border: 1px solid #000000;
  opacity: 0.6000000238;
  background-color: #000000;
  margin-left: 450px;
  border-radius: 4px;
}
.all .headerdiv .div1 {
  padding-left: 20px;
}
.all .headerdiv h6 {
  color: red;
}
.all .headerdiv h5 {
  color: #FFFFFF;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}

.s-2div {
  background-image: url(../images/done.jpg);
  width: 1530px;
  height: 1400px;
}
.s-2div .img1 {
  width: 450px;
  height: 300px;
  border-radius: 10px;
}
.s-2div .wrap1 {
  padding-top: 140px;
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 210px;
}
.s-2div .wrap1 .wrap11 {
  width: 480px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-2div .wrap1 .wrap11 h3 {
  font-size: 35px;
  font-family: "BPG Mrgvlovani", sans-serif;
  color: #FFFFFF;
  margin-bottom: 1px;
}
.s-2div .wrap1 .wrap11 p {
  color: #bab5b5;
  font-size: 17px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
.s-2div .wrap1 .wrap11 input {
  border-radius: 32px;
  background-color: #f4c9d0;
  width: 210px;
  height: 50px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}/*# sourceMappingURL=global.css.map */