header{
    width: 1590px;
    height: 400px;
    border: 2px solid red;

   .background{
      display: inline-block;
      background-image: url(https://pixabay.com/photos/senbon-torii-torii-japanese-woman-6389421/?fbclid=IwAR3RbDkR6aR5KYWeb74LYctsuKKP2UanhGY7-NLtogwZTYCrlJVm4jPbNzc);
      position: relative;
      width: 1590px;
      height: 900px;
   } 
    
    .hederis{
        
        display: flex;
        align-items: center;
        padding-top: 38px;
        padding-left: 28px;

    }
    .tbclogo{
        width: 150px;
        padding-right: 50px;
    }
    nav{
        border: 2px solid red;
        width: 600px;
        ul{
            display: flex;
            justify-content: space-between;
        }
    }
   
}