.all{
    padding-top: 48px;
    padding-left: 28px;
    background-color: rgb(40, 37, 37);
    background-image: url(../images/gate.jpg);

    .hederis{
        display: flex;
        width: 900px;
        justify-content: space-between;
        align-items: center;

        .tbclogo{
            width: 150px;
        }
        nav{
            width: 650px;
            ul{
                display: flex;
                justify-content: space-between;

                a{
                   color: #FFFFFF;
                }
            }
        }
    }





    .s-1{
        h1{
            width:500px;
            font-size: 75px;
            padding-top: 140px;
            padding-left: 100px;
            padding-bottom: 30px;
            color: #FFFFFF
        }
    }

    input{
        border-radius: 211px;
        background: rgb(217, 197, 197);
        width: 210px;
        height:55px;       
    }
    .input{
        padding-bottom:300px;
        padding-left: 100px;
    }
    .headerdiv{
        border: 1px solid #000000;
        opacity: 0.6000000238418579;
        background-color:#000000;
    }
   
}


  